.social{
        display: flex;
        top:4%;
        text-align: center;
        position: fixed; /* or absolute */
        z-index: 1;
        left: 92%;
        top: 15%;
        flex-direction: column;
        //bottom: 50%;
        @media(max-width:769px){
                    display: flex;
                    flex-direction: column;
                    left: 85%;
                    top: 25%;
            }
    
       a {
           display: inline-block;
           width: 50px;
           height: 50px;
           background-color: #343A40;
           margin: 10px;
           border-radius: 20px;
           box-shadow: 0 5px 15px -5px #00000070;
           color:#C946B8;
           overflow: hidden;
           position: relative;
           line-height: 50px;// para centrar
           font-size: 25px; //tam;o del logo
           
       }
       @media(max-width:836px){
           a {
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 30px;
    
           }
       }
    
       i  {
        transition: 0.1s linear;
        }
    
        i:hover  {
           transform: scale(1.3);
           color: #d79e5b ;
       }
       .deezer:hover{
                transform: scale(1.3);
                color: #d79e5b ;
               }
        
               .deezer {
                transition: 0.1s linear;
                }
    
    }
 
 
 .home-icon  i {
  
    display:flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding-top: 8px;
    @media(max-width:769px){
      padding-top:0px
    }
    
 }
 
 
 .social2{
    width: auto;
    text-align: center;
    
    
       a {
           display: inline-block;
           width: 50px;
           height: 50px;
           background-color: #8613A7;
           margin: 10px;
           border-radius: 20px;
           box-shadow: 0 5px 15px -5px #00000070;
           color: black;
           overflow: hidden;
           position: relative;
           line-height: 50px;// para centrar
           font-size: 25px; //tam;o del logo
           
       }
       @media(max-width:769px){
           a {
            width: 50px;
            height: 50px;
            line-height: 50px;
            font-size: 30px;
    
           }
       }
    
       i  {
        transition: 0.1s linear;
        }
    
        i:hover  {
           transform: scale(1.3);
           color: #d79e5b ;
       }
    
    }

    .gallery-button{
        
        
            display: inline-block;
            width: 135px;
            height: 135px;
            background-color: #080517;
            margin: 10px;
            color:#C946B8;
            overflow: hidden;
            position: relative;
            line-height: 135px;// para centrar
            font-size: 100px; //tam;o del logo
            cursor: pointer;
     
        @media(max-width:769px){
            li {
             width: 50px;
             height: 50px;
             line-height: 50px;
             font-size: 30px;
     
            }
        }
     
        i  {
            
         transition: 0.1s linear;
         }
     
         i:hover  {
            transform: scale(1.3);
            color: #d79e5b ;
        }
    }




